h1 {
  color: navy;
  text-align: center;
}

p {
  color: gray;
  font-size: 18px;
}

a {
  color: purple;
}

a:link {  /* unvisited link */
  color: #FFFFFF; 
}

a:visited {  /* visited link */
  color: darkblue; 
}

a:active {  /* when clicked */
  color: green; 
}   

nav a:hover {
  background-color: #2f554a;
  border-radius: 5px;
  text-decoration: underline;
  color: rgb(220, 197, 80);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* makes links go side by side */
  flex-wrap: wrap; /* allows wrapping if screen too small */
  justify-content: center; /* centers them */
  gap: 15px;
  background-color: #386962;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(nature.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* stacks header + main-content vertically */
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1; /* fills remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

/* Headings */
h1, h2 {
  color: #2f705c;
  margin-bottom: 10px;
}

/* Input styling */
input[type="text"],
textarea {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #a8cbbd;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #3a8b72;
  box-shadow: 0 0 5px rgba(58, 139, 114, 0.4);
}

/* Submit button */
input[type="submit"] {
  background-color: #3a8b72;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #2f705c;
}
