

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Goudy Old Style", serif;

  background-color: #fbf7f2;      
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(250, 245, 239, 0.95); 
  padding: 30px 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(31, 61, 43, 0.25);  
  text-align: center;
  border: 1px solid #8a9b5a;                    
}

/* 
   INPUT FIELD
 */

input[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #8a9b5a;      
  border-radius: 5px;
  background-color: white;
  color: #1f3d2b;
}

input[type="email"]:focus {
  border-color: #7ea04d;          
  outline: none;
  box-shadow: 0 0 5px rgba(126, 157, 162, 0.5); 
}

/* 
   BUTTON 
*/

button {
  width: 95%;
  padding: 10px;
  background-color: #7ea04d;   
  color: #fbf7f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

button:hover {
  background-color: #7E9DA2;  
  color: #1f3d2b;
}

/*
   LINK BACK TO LOGIN
 */

.back-to-login {
  color: #1f3d2b;  
  text-decoration: none;
  font-weight: bold;
}

.back-to-login:hover {
  color: #7ea04d;  
}
