html, body {
  margin: 0;
  padding: 0;
}

a:link {  /* unvisited link */
  color: #FFFFFF; 
}

a:visited {  /* visited link */
  color: darkblue; 
}
a:active {  /* when clicked */
  color: green; 
}   

nav a:hover {
  background-color: #2f554a;
  border-radius: 5px;
  text-decoration: underline;
  color: rgb(220, 197, 80);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* makes links go side by side */
  flex-wrap: wrap; /* allows wrapping if screen too small */
  justify-content: center; /* centers them */
  gap: 10px;
  background-color: #386962;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.main-content {
    padding: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap; 
}

.expandable-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; 
}

.expandable {
    flex: 1;
    max-width: 500px;
    margin: 1em 0;
    font-size: 18px;
}

.expandable__title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    user-select: none;
    background-color: #386962;
    color: white;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.expandable__title {
    font-weight: bold;
}

.expandable__content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    border: 1px solid #386962;
    border-top: none;
    border-radius: 0 0 6px 6px;
}

.expandable__content {
      padding: 12px 14px;
      font-size: 0.95rem;
      background: #fff;
}

.expandable--open .expandable__content-wrapper {
    max-height: 10000px;
}

.expandable__toggle {
    font-size: 24px;
    font-weight: bold;
}
